{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<div class="login-content">
    <div class="login-wrapp">

        <div class="img-login-center">
            {#<img src="{{ asset('fos/images/dashboard.png') }}" alt="logo" />#}
            <h3 align="center">Créé votre nouveau mot de passe</h3>
            <hr>
        </div>

        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}

    </div>
</div>

{% endblock fos_user_content %}
